    <%- include("./partials/head") %>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <%- include("./partials/header") %>

    <h1 id="tituloPrincipal">Index</h1>

    <h3 id="parrafoInicial">Congratulaciones, todo parece funcionar perfectamente!</h3>

    <%- include("./partials/footer") %>
</body>
</html>